.left_column .right_column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left_column {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

.box .image:hover {
  filter: invert(100%);
  cursor: pointer;
}
.box .image:nth-child(2) {
  filter: invert(100%);
}
