body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  margin-top: 10px;
  background-color: #ebeef5;
}
a {
  text-decoration: none;
}
