.container {
  width: 100px;
  height: 100%;
  left: 0;
  background-color: var(--container-color);
  position: fixed;
}

.container:hover {
  width: 205px;
  transition: width 0.5s;
}
.container:hover .link {
  display: block;
  margin-left: 10px;
}

.box {
  padding: 20px;
  display: flex;
}

.box:hover {
  object-position: left;
  text-decoration: underline;
  border-radius: 25px 0 0 25px;
  padding: 16px;
  background-color: var(--white-color);
}

.container .logo {
  width: 68px;
  height: 34px;
  position: relative;
  margin: 52px 0 24px;
  left: 50%;
  transform: translateX(-50%);
}

.container hr {
  width: 64px;
  max-width: 64px;
  height: 2px;
  background-color: var(--grey-color);
  margin: auto;
  border: none;
  margin-bottom: 32px;
  transition: max-width 0.4s ease-in 0s;
}

.container .box .image {
  position: relative;
  left: 37;
}

.link {
  display: none;
  font-size: 20px;
  color: var(--grey-color);
}

.footer {
  font-size: 11px;
  position: absolute;
  display: inline-block;
  bottom: 0px;
  width: 246px;
  left: 50%;
  text-align: center;
  color: var(--secondary-color);
  border-top: 1px solid var(--secondary-color);
}

.footer a {
  font-size: 15px;
  color: var(--secondary-color);
}
